@rendermode InteractiveServer


<MudDialog>
    <TitleContent>
        Confirm deletion of product:
    </TitleContent>
    <DialogContent>
        <span>@ProductName</span>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Delete</MudButton>
    </DialogActions>
</MudDialog>