@rendermode InteractiveServer


<MudDialog>
    <TitleContent>
        <h5>Ta bort produkt?</h5>       
    </TitleContent>
    <DialogContent>
        <span class="mb-3">@ProductName</span>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Delete</MudButton>
    </DialogActions>
</MudDialog>