@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="typeof(Program).Assembly">
     <Found Context="routeData"> 
         <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" /> 
         <FocusOnNavigate RouteData="routeData" Selector="h1" /> 
     </Found> 
 </Router>

@* <CascadingAuthenticationState> *@
@*     <Router AppAssembly="@typeof(Program).Assembly"> *@
@*         <Found Context="routeData"> *@
@*             <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" /> *@
@*             <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
@*         </Found> *@
@*         <NotFound> *@
@*             <h3>404 - Sidan hittades inte.</h3> *@
@*         </NotFound> *@
@*     </Router> *@
@* </CascadingAuthenticationState> *@