@using Microsoft.AspNetCore.Components.Authorization
@inject IHttpClientFactory httpClientFactory;
@inject SharedState appState;

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData"> 
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" /> 
        <FocusOnNavigate RouteData="routeData" Selector="h1" /> 
    </Found> 
</Router>

@* @code{ *@

@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         var http = httpClientFactory.CreateClient("MyAPI"); *@
@*         await appState.InitializeAsync(http); *@
@*     } *@
@* } *@

@* <CascadingAuthenticationState> *@
@*     <Router AppAssembly="@typeof(Program).Assembly"> *@
@*         <Found Context="routeData"> *@
@*             <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" /> *@
@*             <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
@*         </Found> *@
@*         <NotFound> *@
@*             <h3>404 - Sidan hittades inte.</h3> *@
@*         </NotFound> *@
@*     </Router> *@
@* </CascadingAuthenticationState> *@

