@page "/"
@using States
@inject SharedState appState

<PageTitle>Home</PageTitle>

<div class="align-text-center">
<h1>Shopen!</h1>


</div>

@if (appState.IsLoggedIn)
{
	<h3>Välkommen @appState.UserInfo.FirstName</h3>
}
